@tailwind base;
@tailwind components;
@tailwind utilities;

.lastKeyboardRow {
  grid-template-columns: 71.783px repeat(7, 44.5px) 71.783px;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

* {
  font-family: Roboto;
}


/*
Toggle theme
*/
#light {
  background: white !important;
  /* color: #0000; */
}

#dark {
  background: #262B3C !important;
  /* color:#ffff */
}

#light #tutorialContent {
  background: rgba(243, 243, 243, 0.89) !important;
  /* color: #0000!important; */
}

#dark #tutorialContent {
  background: #161616 !important;
  color: #ffff !important;
}

#light #statsContent {
  background: rgba(243, 243, 243, 0.89) !important;
  /* color: #0000!important; */
}

#dark #statsContent {
  background: #161616 !important;
  color: #ffff !important;
}

#light #letter {
  /* background: rgba(243, 243, 243, 0.89)!important; */
  /* color: #0000!important; */
}

#dark #letter {
  background: #161616 !important;
  color: #ffff !important;
}

/*
Toggle theme
*/